h1,
h2 {
  font-family: Lato;
}

.disappear {
  animation-duration: 3s;
  animation-name: disappear;
}

@keyframes disappear {
  0% {
    opacity: 100%;
    display: static;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
